---
Checks:          'clang-*,portability-*,performance-*,bugprone-*,misc-*,-misc-unused-parameters,-clang-analyzer-security.FloatLoopCounter'
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*hpp'
AnalyzeTemporaryDtors: true
...
