[submodule "external/uitest"]
	path = external/uitest
	url = https://gitlab.com/Grumbel/uitest.git
[submodule "external/logmich"]
	path = external/logmich
	url = https://gitlab.com/logmich/logmich.git
[submodule "external/sexp-cpp"]
	path = external/sexp-cpp
	url = https://gitlab.com/lispparser/sexp-cpp.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/Grumbel/shared-modules.git
[submodule "external/geomcpp"]
	path = external/geomcpp
	url = https://gitlab.com/grumbel/geomcpp.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = https://gitlab.com/grumbel/cmake-modules.git
[submodule "external/strut"]
	path = external/strut
	url = https://gitlab.com/grumbel/strut.git
[submodule "external/surfcpp"]
	path = external/surfcpp
	url = https://gitlab.com/grumbel/surfcpp.git
[submodule "external/SQLiteCpp"]
	path = external/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "external/priocpp"]
	path = external/priocpp
	url = https://gitlab.com/grumbel/priocpp.git
[submodule "external/wstdisplay"]
	path = external/wstdisplay
	url = https://gitlab.com/Windstille/wstdisplay.git
