[submodule "external/uitest"]
	path = external/uitest
	url = https://github.com/Grumbel/uitest.git
[submodule "external/logmich"]
	path = external/logmich
	url = https://github.com/Grumbel/logmich.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
