[submodule "external/uitest"]
	path = external/uitest
	url = https://gitlab.com/Grumbel/uitest.git
[submodule "external/logmich"]
	path = external/logmich
	url = https://gitlab.com/logmich/logmich.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
