[Desktop Entry]
Name=Galapix
Comment=A zoomable image viewer for large collections and gigapixel images
Icon=galapix
Terminal=false
Exec=galapix-0.3.sdl %F
Type=Application
Categories=Graphics;Viewer;
StartupNotify=false
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/tiff;image/webp;image/svg+xml;image/x-xcf;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;application/x-galapix;
